<footer class="mt2 pv4 ph3 ph5-ns tc">

  <div class="mt4">
    <a href="/legal" rel="noindex noopener noreferrer" class="f6 link dim gray dib mr3 mr4-ns">Uso de Cookies</a>
    <a href="/terms" rel="noindex noopener noreferrer" class="f6 link dim gray dib mr3 mr4-ns">Terminos y Condiciones</a>
    <a href="https://www.conceptosjuridicos.com/codigo-penal-articulo-271/" target="_blank" rel="noindex noopener noreferrer"
      class="f6 link dim gray dib mr3 mr4-ns">Legislación</a>
  </div>

  <p>
    El equipo que ha desarrollado esta pagina sabe que la piratería es un Delito.
  </p>
  <p> <a class="pirate" target="_blank" rel="noindex noopener noreferrer"
      href="https://es.wikipedia.org/wiki/Edad_de_oro_de_la_pirater%C3%ADa">
        Si quieres saber más sobre la piratería os dejamos este enlace.
      </a>
  </p>

  <a class="link" href="/" rel="noopener noreferrer">© 2021 Copyright: El Almacen de Peliculas</a>

  <a href="https://www.themoviedb.org/" target="_blank" rel="noopener noreferrer">
    <img class="logo_api" src="/img/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg"
      alt="TheMovieDb" loading="lazy" width="150" height="50">
  </a>
</footer>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4D43577FF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-L4D43577FF');
</script>