<footer class="footer">
        <blockquote class="ph0 mh0 measure f4 lh-copy center">
                <p class="fw1 white-70">
                    En 900 años de tiempo y espacio, nunca he conocido a nadie que no fuera importante.
                </p>
                <cite class="f6 ttu tracked fs-normal">Doctor Who</cite>
            </blockquote>
        <p>© DoberWho</p>
</footer>