<footer class="mt2 pv4 ph3 ph5-ns tc">

  <div class="mt4">
    <a href="/legal" rel="noindex noopener noreferrer" class="f6 link dim gray dib mr3 mr4-ns">Uso de Cookies</a>
    <a href="/terms" rel="noindex noopener noreferrer" class="f6 link dim gray dib mr3 mr4-ns">Terminos y Condiciones</a>
    <a href="https://www.conceptosjuridicos.com/codigo-penal-articulo-271/" target="_blank" rel="noindex noopener noreferrer"
      class="f6 link dim gray dib mr3 mr4-ns">Legislación</a>
  </div>

  <a class="link" href="/" rel="noopener noreferrer">© 2021 Copyright: El Almacen de Peliculas</a>

</footer>

