<a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="【Almacen de Peliculas】">
    <img src="/img/logo.png" alt="【Almacen de Peliculas】" width="64px" height="64px">
    <h1 class="title f1 ttu tracked-tight mt0" property="name">【Almacen de Peliculas】</h1>
</a>