<style>
div#menu_categories{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

a.menu_categories_title{
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: 1.2rem;
}


</style>

<div id="menu_categories">
  <a href="/categorias" class="menu_categories_title">LISTADO DE CATEGORIAS</a>

  {{#cats}}

  <a href="/categoria/{{slug}}" class="">
    {{ title }}
  </a>
  {{/cats}}
</div>