{{!< base }}
{{#contentFor 'pageStyles' }}


{{/contentFor}}

{{#contentFor 'content' }}

  <article
  class="cf pt3 mw9 center">
    <header class="fl w-100 pt3-m pt4-l">
      <h2 class="lh-title f3 b mt0">
        Todas las categorias que tenemos para que <span class="label"> Veas </span> las <span class="label"> Mejores Peliculas</span>:
      </h2>
    </header>
  </article>

  <div class="categories flex flex-wrap">
    {{#data.categories}}
    <a href="/categoria/{{slug}}" class="outline menu_item button" data-mdb-ripple-color="dark">
      {{ title }}
    </a>
  {{/data.categories}}
  </div>

  {{/contentFor}}