<!DOCTYPE html>
<html lang="es">

<head>
  <title>{{data.title}} 💀 🐲 HORNS Legend</title>

  <link rel="stylesheet" href="/css/style.css">

  <style>
    /* BASE DE CSS */
    * {
      font-family: 'Trebuchet MS', sans-serif;
    }

    a {
      text-decoration: none;
      font-weight: 700;
      color: #607196;
    }

    body.root {
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: #E8E9ED;
      color: #212121;
    }

    div.root_content {
      width: 100%;
      margin-top: 4rem;
      min-height: 80vh;
    }

    nav.menu {
      padding-top: 1rem;
    }

    /* PRINCIPAL - FLEXBOX - B*/
    body.root {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }

    nav.menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    div.root_content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    /* PRINCIPAL - FLEXBOX - E*/

    {{{block "pageStyles"}}}
  </style>

</head>

<body class="root">

  <nav class="menu">

    <a href="/">💀 🐲 HORNS Legend</a>

    <input type="text" placeholder="Search..">

    <div class="menu_options">
      <a href="/">Home</a>
      <a href="/categorias">Categorias</a>
      <a href="/policies">Policies</a>
      <a href="/terms">Terms</a>
    </div>


  </nav>

  <div class="root_content">

    <div class="menu_left">
      Menu Lateral IZQ
    </div>
    <div class="content">
      {{{block "content"}}}
    </div>
    <div class="menu_right">
      Menu Lateral Drcha
    </div>

  </div>

  <footer>
    Esto es el FOOTER
  </footer>


</body>

<script>
</script>



</html>