{{!< base }}

{{#contentFor 'pageStyles' }}

div.home_contenido{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

{{/contentFor}}

{{#contentFor 'content' }}

  <div class="home_contenido">

    {{#pages}}
      <a href="/{{slug}}" class="home_page">
        {{ title }}
      </a>
    {{/pages}}

  </div>

{{/contentFor}}