{{!< base}}

{{#contentFor 'pageStyles'}}

  html{
    background-color: #424242;
  }
  div.container {
    margin-top:0rem;
  };

  code.code{
    color:#00b489;
  }

{{/contentFor}}

{{#contentFor 'content'}}


<article class="pa3 pa5-ns center">
  <h1 class="f3 f1-m f-headline-l">¿Realmente estás buscando los terminos legales de una pagina de descarga de peliculas?</h1>

  <div class="cf">
  <div class="fl w-50 w-20-ns tc pv5">
  <p class="measure lh-copy">
    Vamos a ser claros desde el principio; <strong>LA DESCARGA DE PELICULAS SIN EL CONSENTIMIENTO ES ILEGAL</strong>. Dicho esto;
    esta pagina <strong>NO CONTIENE</strong> ninguna pelicula o fichero sobre las peliculas que se pueden ver en las distintas paginas.
  </p>
  <p class="measure lh-copy">
    De hecho, si llegas a descargar un fichero te animo a que lo descomprimas y que intentes reproducirlo. Es un fichero dummy generadó con el siguiente código:
    <code class="code" >
      fsutil file createnew pelicula.mkv 4Gb
    </code>
  </p>
  <p class="measure lh-copy">
    Vamos, que esta web realmente es una trampa. No tiene descarga de ficheros, ni de peliculas. Solo tiene un acceso al API que le sirve cuales son las peliculas en
    cartelera y los datos sobre los actores. De cada actor su peliculas, etc.
  </p>
  </div>
  <div class="fl w-50 w-80-ns tc pv5">
    Si te interesa la legislación vigente sobre la descarga de peliculas y la propiedad intelectual, te dejo los siguientes enlaces:
    <div class="pa4 lh-copy">
      <a class="f4 fw6 db link dim" href="https://www.boe.es/buscar/act.php?id=BOE-A-1995-25444">Ley Orgánica 10/1995, de 23 de noviembre, del Código Penal</a>
      <a class="f4 fw6 db link dim" href="https://www.boe.es/buscar/act.php?id=BOE-A-1996-8930">Real Decreto Legislativo 1/1996, de 12 de abril </a>
    </div>

    <h1 class="f3 f1-m f-headline-l">Espero que lo pases bien. </h1>
  </div>
</div>



</article>


{{/contentFor}}





