{{!< base}}

{{#contentFor 'pageStyles' }}

article.legal{
  width: 90%;
}

  h1.title{
    text-transform: uppercase;
    width: 75%;
  }

  .contenido_legal{
    background-color: #BABFD1;
    border-radius:10px;
    padding:.25rem;
    padding-left: .5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    margin-top:1rem;
  }

{{/contentFor}}

{{#contentFor 'content' }}
<article class="legal">
  <h1 class="title">
    ¿Realmente estás buscando los <strong>terminos legales</strong> de una pagina de descarga de peliculas?
  </h1>

  <div class="contenido_legal">
    <p class="parrafo_legal">
      Vamos a ser claros desde el principio; <strong>LA DESCARGA DE PELICULAS SIN EL CONSENTIMIENTO ES ILEGAL</strong>.
      Dicho esto;
      esta pagina <strong>NO CONTIENE</strong> ninguna pelicula o fichero sobre las peliculas que se pueden ver en las
      distintas paginas.
    </p>
    <p class="parrafo_legal">
      De hecho, si llegas a descargar un fichero te animo a que lo descomprimas y que intentes reproducirlo. Es un
      fichero dummy generadó con el siguiente código:
      <code class="code">
      fsutil file createnew pelicula.mkv 4Gb
    </code>
    </p>
    <p class="parrafo_legal">
      Vamos, que esta web realmente es una trampa. No tiene descarga de ficheros, ni de peliculas. Solo tiene un acceso
      al API que le sirve cuales son las peliculas en
      cartelera y los datos sobre los actores. De cada actor su peliculas, etc.
    </p>
  </div>

  <div class="contenido_legal">

    <p class="parrafo_legal">
      Si te interesa la legislación vigente sobre la descarga de peliculas y la propiedad intelectual, te dejo los
        siguientes enlaces:
    </p>
        <div class="pa4 lh-copy">
          <a class="f4 fw6 db link dim" href="https://www.boe.es/buscar/act.php?id=BOE-A-1995-25444">Ley Orgánica
            10/1995, de 23 de noviembre, del Código Penal</a>
          <a class="f4 fw6 db link dim" href="https://www.boe.es/buscar/act.php?id=BOE-A-1996-8930">Real Decreto
            Legislativo 1/1996, de 12 de abril </a>
        </div>

  </div>

  <h1 class="f3 f1-m f-headline-l">Espero que lo pases bien. </h1>

  </article>


  {{/contentFor}}