body,
html {
    color:#CFD8DC;
    font-family: 'Poppins', sans-serif;
}

a{
    color:#00b489;
}

h1.title {
    background-color: transparent;
    font-size: 2.25rem;
    color: #558982;
    text-shadow: 1px 0 #434, -1px 0 #434, 0 1px #434, 0 -1px #434,
             1px 1px #434, -1px -1px #434, 1px -1px #434, -1px 1px #434;
    font-weight: bold;
    text-align: center;
}

h2.subtitle {
    background-color: transparent;
    grid-column: 1 / 20;
    grid-row: 2 / 0;
    font-weight: bold;
    color: rgba(98, 105, 117, 0.6);
    text-shadow: -1px 0 #2a403d, 0 1px #2a403d, 1px 0 #2a403d, 0 -1px #2a403d;
    font-size: 1rem;
    display: block;
}


a#moreViewed {
    font-weight: bolder;
}

a#latest {
    font-weight: bolder;
}

a#random {
    font-weight: bolder;
}

a.button {
    background: #ECEFF1;
    color: #616161;
    font-family: 'Poppins', sans-serif;
    border: none;
    max-width: 9rem;
    min-width: 9rem;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.16),
        0 8px 8px rgba(0,0,0,0.20);
}

a.button:hover {
    background: #C9D7D5;
    color: #424242;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
        0 2px 2px rgba(0,0,0,0.11),
        0 4px 4px rgba(0,0,0,0.11),
        0 6px 8px rgba(0,0,0,0.11),
        0 8px 16px rgba(0,0,0,0.11);
}

a.button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}

a.download{
    background-color: #273c75;
    color:rgba(255, 255, 255, .5);
}

a.download > *{
    background-color: #273c75;
    color:rgba(255, 255, 255, .5);
}
a.home {
    background-color: #00b489;
    color:rgba(255, 255, 255, .5);
}

a.imdb {
    background-color: #F5DE50;
    color:rgba(68, 60, 60, 0.5);
}

a.link{
    text-decoration: none;
}

a.menu_item{
    background-color: #CFD8DC;
    max-width: 9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.16),
        0 8px 8px rgba(0,0,0,0.20);
}

a.menu_title{
    color:#CFD8DC;
    background-color: #546E7A;
    margin-bottom: 1rem;
}

a.menu_item:hover{
    font-size: 1.1rem;
}

.menu_header{
    background-color: #546E7A;
    color: #CFD8DC;
}

.poster{
    border-radius: 1rem;
}